.footer{
    background-color: #3c4d9f;
    padding:0 10%;
    padding-top:96px;
    /* padding-bottom: 0; */
    color:rgba(255, 255, 255, 0.5);
    font-size:17.5px;
}
.footbox{
    margin-bottom:65px;
}
.item-title{
    font-size:22px;
    font-weight: bold;
    margin-bottom:30px;
    color:#fff;
}

.item-content{
    line-height: 36.5px;
    padding:0;
}
.item-content li{
    clear:both;
    margin:0;
}
.item-content li img{
    margin:0 10px;
}
.banquan{
    text-align: right;
    border-top:1px solid rgba(255, 255, 255, 0.5);
    line-height: 80px;
}