.footer{
    background-color: #3c4d9f;
    padding:0 10%;
    padding-top:8%;
    /* padding-bottom: 0; */
    color:rgba(255, 255, 255, 0.5);
    font-size:17.5px;
}
.footer a{
    color:rgba(255, 255, 255, 0.5);
}
.footer .footbox{
    margin-bottom:65px;
}
.footer .item-title{
    font-size:22px;
    font-weight: bold;
    margin-bottom:30px;
    color:#fff;
}

.footer .item-content{
    line-height: 36.5px;
    padding:0;
}
.footer .item-content li{
    clear:both;
    margin:0;
    list-style: none;
}
.footer .item-content li img{
    margin:0 10px;
}
.footer .banquan{
    text-align: right;
    border-top:1px solid rgba(255, 255, 255, 0.5);
    line-height: 80px;
}
.mobile-footbox{
    display: none;
}
/* xs sm  */
@media only screen and (max-width:768px){
    .footer .footbox,
    .footer .banquan{
        display: none;
    }
    .mobile-footbox{
        display: block;
        padding:0 6%;
    }
    .footer .item-title{
        margin-bottom: 10px;
    }
    .footer .item-content li{
        line-height: 3;
    }
    .mobile-footbox .mobile-bottom{
        border-top:1px solid rgba(255, 255, 255, 0.5);

    }
}