/* 第一块 */
.home-p1{
    background:#fff;
    padding:10% 10%;
    /* padding-top:190px;
    padding-bottom:200px; */
}
.home-p1 h1{
    font-size:40px;
    color:#333333;
    font-weight: 900;
    line-height: 50px;
    margin-bottom: 6%;
}
.home-p1 p{
    color:#939393;
    line-height: 30px;
    margin-bottom: 70px;
}
.home-p1 .p1-btn{
    padding:0 60px;
    font-size:18px;
    height:54px;
    line-height: 54px;
}
.home-p1 img{
    width:100%;
    padding:10%;
}

/* 专注的领域 */
.card-box{
    text-align: center;
    padding:6% 0;
    border-radius:5px;
    margin:5%;
}
.card-box .cardbox-title{
    color:#3c4d9f;
    font-size:30px;
    font-weight: bold;
    margin:30px 0;
}
.card-box .cardbox-content{
    color:#333333;
    font-size:18px;
    line-height: 36px;
}

/* 我们的服务 */
.p3-card{
    text-align: center;
    padding:0;
    margin:10px;
    
}
.p3-card img{
    height: 60px;
}
.p3-card div{
    color:#3d4c9e;
    font-size:22px;
    line-height: 30px;
    margin-top:10%;
}
.p3-card .ant-row,
.p3-card .ant-col{
    margin-top:0;
}
.p3-right{
    padding-left:8%;
}
.p3 .right-title{
    font-size:30px;
    color:#333333;
    font-weight: bold;
    margin-top:5%;
}
.p3 .right-content{
    size:18px;
    line-height: 36px;
    color:#333333;
    margin-top:53px;
}

/* 我们的案例 */
.p4-card{
    padding:0;
    text-align: center;
    margin:10%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(112, 111, 111, 0.3);
}
.p4-card .title{
    margin:10% 0;
    height:40px;
    max-height: 100%;
    max-width: 100%;
}
.p4-card .body{
    height: 120px;
    max-height: 100%;
    max-width: 100%;
}

/* 合作伙伴 */

.p5 img{
    margin:10%;
    height: 40px;
}

/* 我们的团队 */
.p6 .bgpic{
    width: 100%;
    height: auto;
    min-height: 300px;
    background: url('../../assets/home/img.png') no-repeat;
    background-size:100%;
    color:#fff;
}

.p6 .bgpic .rightbox{
    width: 300px;
    margin-right:20px;
}
.p6 .bgpic h3{
    color:#fff;
    font-size:30px;
    font-weight: bold;
    line-height: 2;
    margin:0;
}
.p6 .bgpic p{
    font-size:18px;
    line-height: 2;
}
.p6 .bgpic a{
    color:#fff;
    text-decoration:underline;
}

.home-p7 h1{
    color:#1d1d1d;
    font-size: 29px;
    font-weight: bold;
}
.home-p7 p{
    font-size:18px;
    line-height: 2;
    margin-top:53px;
    margin-bottom:35px;
}
.home-p7 .p7-btn{
    /* width:135px; */
    height:47px;
    font-size:16px;
}
.home-p7 .p7-btn span{
    line-height: 47px;
}
.home-p7 img{
    width: 100%;
}

/* xs sm  */
@media only screen and (max-width:767px){
    .home-p1{
        text-align: center;
    }
    .home-p1 h1{
        text-align:center;
        margin:30px 0;
        font-size:30px;
    }
    .home-p1 p{
        display: none;
    }

    /* 专注的领域 */
    .card-box{
        padding: 0;
    }
    .card-box .ant-card-body{
        padding:10px;
    }
    .card-box .cardbox-title{
        font-size: 20px;
    }
    .card-box ul{
        text-align: left;
        list-style-type: disc;
        padding:0px;
    }
    .card-box ul li{
        margin:15px 0;
    }
    /* 水平居中 */
    .flex-center{
            display: flex;
            justify-content: center;
        }
    /* 我们的服务 */
    .p3-card{
        width:70%;
        
    }
    .p3-right{
        text-align: center;
        padding:0 5%;
    }
    .p3-card div{
        font-size:18px;
        margin-top:10%;
    }
    .p3-card .ant-card-body{
        padding-left:5px;
        padding-right:5px;
        padding-top:0;
    }
    .p3 .right-title{
        font-size:25px;
    }
    /* 我们的案例 */
    .p4-card{
        width: 60%;
        margin:5%;
    }
    .p4-card .title{
        height:20px;
    }
    .p4-card .body{
        height: 80px;
    }

    /* 合作伙伴 */
    .p5 img{
        height: 30px;
    }

    /* 我们团队 */
    .p6 .bgpic{
        background: none;
        color:#333;
        text-align: center;
    }
    .p6 .bgpic h3{
        color:#333;
    }
    .p6 .bgpic  p{
        padding:0 10%;
    }
    .p6 .bgpic a{
        color: #333;
    }
    .p6 .mobile-bgpic {
        padding:0;
        margin-top:20%;
    }
    .p6 .mobile-bgpic img{
        width: 100%; 
    }

    /* 我们在招人 */
    .home-p7{
        background: #fff;
        text-align: center;
    }
    .home-p7 img{
        padding:20%;
    }
    .home-p7 .p7-btn{
        margin-bottom: 5%;
    }
}
