.detail{
    padding: 0 15%;
    border-top:1px solid #e5e7ee;
}
.detail .item-title{
    text-align: center;
    margin-top:30px;
}
.detail .item-titlelabel{
    text-align: center;
    margin:50px 0;
}
.detail .detail-content{
    line-height: 2;
    text-indent: 2em;
    margin:20px 0;
}