/* 蓝色标题样式 */
.bluetitle{
    color:#fff;
    padding:5% 15%;
}
.bluetitle .title{
    color:#fff;
    font-size: 50px;
    font-weight: bold;
}
.bluetitle .content{
    font-size: 30px;
}
/* block2样式 暂时放这 */
.block2{
    padding:10% 15%;
    padding-bottom: 120px;
}
.block2 .title{
    font-size:30px;
    font-weight: bold;
    margin:15% 0;
    color:#333333;
}
.block2 .body{
    line-height: 2;
    color:#333333;
}
.block2 img{
    width:100%;
}

/* xs sm  */
@media only screen and (max-width:768px){
    .bluetitle{
        padding:5% 8%;
        text-align: center;
    }
    .bluetitle .title{
        font-size:20px;
    }
    .bluetitle .content{
        font-size: 12px;
    }
    
    .block2{
        padding:10%;
    }
}