<footer class="q-footer">
  <div class="sub-footer">
    <div class="wrap">
      <div class="row">
        <div class="col-s-6 col-l-auto">
          <p>解决方案</p>
          <ul class="clear">
            <li>代发货</li>
            <li>跨境物流</li>
            <li>小程序商店</li>
            <li>Shopify 应用程序</li>
            <li>小程序应用</li>
          </ul>
        </div>
        <div class="col-s-6 col-l-auto">
          <p>服务</p>
          <ul class="clear">
            <li>用户界面设计</li>
            <li>Web 开发</li>
            <li>应用程序开发</li>
          </ul>
        </div>
        <div class="col-s-6 col-l-auto">
          <p>工具</p>
          <ul class="clear">
            <li>Python</li>
            <li>麻木</li>
            <li>熊猫</li>
            <li>火花</li>
            <li>火炬</li>
          </ul>
        </div>
        <div class="col-s-6 col-l-auto">
          <p>社会</p>
          <ul class="clear">
            <li>GitHub</li>
            <li>GDG</li>
            <li>派康</li>
            <li>Shopify 论坛</li>
          </ul>
        </div>
        <div class="col-s-6 col-l-auto">
          <p>联系我们</p>
          <p>邮箱：ceo@quseit.com</p>
          <div class="col-m-10 between">
            <i class="fas fa-camera"></i>
            <img />
            <img />
            <img />
            <img />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <p class="lineHeight-init">版权所有 ©️ 2022 QUSEIT</p>
  </div>
</footer>

<%- js("static/jquery-1.11.0.min.js") %>
<%- js("static/main.js") %>