<header class="q-header">
  <div class="wrap">
    <div class="head-logo">
      <a href="index.html" title="首页">
        <%- image_tag("static/images/logo.svg", { alt: "Quseit" }) %>
      </a>
    </div>
    <nav class="head-menu">
      <a href="/"<% if (is_home()) { %> class="active"<% } %>>首页</a>
      <a href="service"<% if (is_current("service")) { %> class="active"<% } %>>服务</a>
      <a href="solution"<% if (is_current("solution")) { %> class="active"<% } %>>方案</a>
      <a href="about"<% if (is_current("about")) { %> class="active"<% } %>>关于</a>
    </nav>
    <div class="head-toggle">
      <span></span>
    </div>
  </div>
</header>
