.ser-p1 .img-item{
    text-align: center;
}
.ser-p1 .img-item img{
    height: 80px;
    width: auto;
}
.ser-p1 .img-item p{
    font-size:20px;
    color:#3c4d9f;
    margin-top:25px;
}
.ser-p1 .mobile-title{
    display:none;
}

.ser-p5 {
    padding:80px 15%;
    text-align: center;
}
.ser-p5 .title{
    color:#3c4d9f;
    font-size:40px;
    line-height: 2;
}
.ser-p5  .btn{
    height: 46px;
    padding:0 3%;
    font-size:16px;
}
.ser-p5  .btn span{
    line-height: 46px;
}

/* xs sm  */
@media only screen and (max-width:768px){
    .ser-p1 .mobile-title{
        display:block;
        font-size:21px;
        font-weight: bold;
        text-align: center;
        margin-bottom:15%;
    }
    .ser-p1 .title{
        display: none;
    }

    .ser-p5 .title{
        font-size:20px;
        text-align: left;
    }
    .ser-p5 {
        padding:5% 8%;
    }
}