<section class="section-item">
  <div class="wrap">
    <div class="row between">
      <div class="col-m-5 ">
        <div class="left center mt-5">
          <h1 class="title">电子商务系统专家</h1>
          <p class="left center spacing-article"> 无论是用各种开放资源定制一个在线网店，还是根据您的业务特点来构建一个与众不同的电子商务平台，我们丰富的经验、
            一流的服务、和深厚的行业资源都可以帮助您高效出色的完成目标。</p>
          <a href="#" class="btn blue spacing">联系我们</a>
        </div>
      </div>
      <div class="col-m-4 mt-4">
        <img width="87%" src="/static/images/index@3.png" />
      </div>
    </div>
  </div>
</section>
<section class="section-item section-home-skills">
  <div class="wrap">
    <h2 class="text-center subTitle">我们的服务</h2>
    <div class="row between nowrap">
      <div class="center">
        <img width="69%" src="/static/images/index@3-2.1.png" />
        <div class="skills-item-bottom">
          <p class="ftsz-20 spacing-p">在线网店定制</p>
        </div>
      </div>
      <div class="center">
        <img width="69%" src="/static/images/index@3-2.2.png" />
        <div class="skills-item-bottom">
          <p class="ftsz-20 spacing-p">出海渠道拓展</p>
        </div>
      </div>
      <div class="center">
        <img width="69%" src="/static/images/index@3-2.3.png" />
        <div class="skills-item-bottom">
          <p class="ftsz-20 spacing-p">电商平台定制</p>
        </div>
      </div>
      <div class="center">
        <img width="69%" src="/static/images/index@3trafficGrowth.png" />
        <div class="skills-item-bottom">
          <p class="ftsz-20 spacing-p">流量获取增长</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-item">
  <div class="wrap">
    <h2 class="text-center subTitle">我们的方案</h2>
    <div class="row between">
      <div id="all">
        <div id="next">
          <p class="p1"></p>
        </div>
        <div id="pre">
          <p class="p2"></p>
        </div>
        <ul id="show">
          <li>
            <img src="/static/images/index3-1.png" width="33%" />
          </li>
          <li><img src="/static/images/index@3-3.png" width="33%" /></li>
          <li><img src="/static/images/index@3-2.png" width="33%" /></li>
          <li><img src="/static/images/index@3-4.png" width="33%" /></li>
        </ul>
        <ul id="pot">
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
        </ul>
      </div>
      <!-- <div class="col-m-3 left center">
        <div id="allText">
          <ul id="showText">
            <li>
              <div class="col-m-8 left center pb-3">
                <p class="pTitle spacing-p mb-4">优趣云达物流系统</p>
                <ul class="wide-list">
                  <li>一站式物流统一下单系统</li>
                  <li>国外配送集成</li>
                  <li>国内配送集成 </li>
                  <li>本地即时配送集成</li>
                  <li>电商平台集成扩展</li>
                </ul>
                <a class="arrow-btn mt-4" href="">了解相关案例</a>
              </div>
            </li>
          </ul>
          <div id="allText">
            <div id="next">
              <p class="p1"></p>
            </div>
            <div id="pre">
              <p class="p2"></p>
            </div>
            <ul id="showText">
              <li>
                <p class="pTitle spacing-p mb-4">优趣云达物流系统</p>
                <ul class="wide-list">
                  <li>一站式物流统一下单系统</li>
                  <li>国外配送集成</li>
                  <li>国内配送集成 </li>
                  <li>本地即时配送集成</li>
                  <li>电商平台集成扩展</li>
                </ul>
                <a class="arrow-btn mt-4" href="">了解相关案例</a>
              </li>
              <li>
                <p class="pTitle spacing-p mb-4">优趣云达物流系统</p>
                <ul class="wide-list">
                  <li>一站式物流统一下单系统</li>
                  <li>国外配送集成</li>
                  <li>国内配送集成 </li>
                  <li>本地即时配送集成</li>
                  <li>电商平台集成扩展</li>
                </ul>
                <a class="arrow-btn mt-4" href="">了解相关案例</a>
              </li>
            </ul>
          </div>
        </div>


        <div class="pb-3">
          <p class="pTitle spacing-p mb-4">优趣云达物流系统</p>
          <ul class="wide-list">
            <li>一站式物流统一下单系统</li>
            <li>国外配送集成</li>
            <li>国内配送集成 </li>
            <li>本地即时配送集成</li>
            <li>电商平台集成扩展</li>
          </ul>
          <a class="arrow-btn mt-4" href="">了解相关案例</a>
        </div>
      </div> -->
    </div>
  </div>
</section>
<section class="section-item section-home-partners">
  <div class="wrap">
    <h2 class="text-center subTitle">我们的客户</h2>
    <p class="text-center spacing-p">秉承用心服务的理念，我们为客户提供一流的服务</p>
    <div class="col-m-8 mt-4">
      <div class="row s">
        <div class="col-3">
          <img src="/images/home/cocoro.png" alt="Cocoro Life" />
        </div>
        <div class="col-3">
          <img src="/images/home/presto.png" alt="Presto" />
        </div>
        <div class="col-3">
          <img src="/images/home/ttk.png" alt="TTK" />
        </div>
        <div class="col-3 cenports">
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="section-item section-home-team text-center">
  <div class="wrap">
    <h2 class="text-center subTitle">用心服务 追求卓越 开放自律</h2>
    <p class="col-2 mb-1 text-center spacing-p">我们是一个有使命感和价值观驱动的团队；我们努力为客户提供一流的服务，努力超越自己，保持开放且又能自律和勤奋地工作。</p>
    <img class="mt-5" src="/static/images/index@4-1.png" />
  </div>
</section>
<!-- <section class="section-item">
  <div class="wrap">
      <img  src="/static/images/index@4-1.png" />
  </div>

</section> -->