<!DOCTYPE html>
<html lang="zh-cmn-hans">
<%- partial("_partial/head") %>
<body>
<%- partial("_partial/header") %>
<main class="q-main">
  <%- body %>
</main>
<%- partial("_partial/footer", {}, { cache: true }) %>
</body>
</html>
