/* Variables */
:root {
    --blue: #1140e3;
    --dark-background: #292f3a;
    --darker-background: #101010;
}

@media screen and (max-width: 900px) {

    /* index */
    .section-home-skills .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1em -2em;
    }

    .section-home-skills .row>.center {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .section-home-skills .wrap .row .center img {
        width: 90%;
    }

    .arrow-btn {
        color: var(--blue);
        font-size: 1.5em !important;
        display: inline-block;
        letter-spacing: .15em;
    }



}

@media screen and (max-width: 900px) {
    .section-home-skills .wrap {
        padding: 1.25em;
    }
}

.section-home-banner img {
    width: 33%;
}

@media screen and (max-width: 900px) {

    /* service */
    .section-home-banner img {
        width: 100%;
    }

    .py-5 .row {
        text-align: center;
        display: block;
    }

    #serviceP1 {
        padding-left: 0.5em;
    }

    #serviceP3 {
        padding-left: 0.5em;
    }
}

@media screen and (max-width: 900px) {
    .section-home-feat .feat-image {
        margin-bottom: -5em;
    }

    .section-home-feat .feat-box {
        margin-bottom: 5em;
    }
}

@media screen and (max-width: 900px) {
    .ftsz-20 {
        font-size: 16px;
    }
}

@media screen and (min-width: 901px) {
    .head-toggle {
        display: none;
    }
}

@media screen and (min-width: 901px) {
    #all {
        width: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;
    }


}

@media screen and (max-width: 900px) {
    .section-card .card-block {
        margin: 0 -1.25em;
        padding: 2em 1.25em;
    }

    .section-card .card-image {
        margin-top: 0;
    }

    .server-item {
        display: flex;
        gap: 40px;
        flex-direction: column;
        align-items: flex-start !important;
    }

    .content {
        width: 80% !important;
    }

    #changeLang {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    header.q-header .head-menu {
        order: 1;
        max-height: 0;
        flex: 0 0 100%;
        position: static;
        overflow: hidden;
        transition: max-height .3s;
    }

    header.q-header.active .head-menu {
        max-height: 20em;
    }

    header.q-header .head-menu a {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .application-nav__item {
        margin-right: 0;
        display: block;
        line-height: 3em;
        width: 100%;
        left: 50%;
        background: var(--darker-background);
        opacity: 0.9;
    }

    header.q-header .head-menu-s {
        padding-top: 0;
        text-align: center;
        width: 100%;
        display: none;

    }
}

header.q-header .head-menu-s {
    padding-top: 10em;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 4em;
    display: none;
    height: 0;
}

@media screen and (max-width: 900px) {
    main.q-main .section-item {
        padding: 3em 0 !important;
    }

    .section-home-skills main.q-main .section-item {
        padding: 5em 0em;
    }
}

@media screen and (max-width: 900px) {
    .section-home-team .team-image {
        margin-top: -2em;
    }
}

@font-face {
    font-family: 'Regular';
    src: url('./font/Montserrat/Montserrat-Regular-8.otf')
}

@media screen and (min-width: 320px) {
    .title {
        font-size: 40px !important;
        letter-spacing: 0.17em;
        margin-bottom: 1em;
    }

    .subTitle {
        font-size: 30px !important;
        margin-bottom: 1em;
        letter-spacing: 0.1em;
    }
}

@media screen and (min-width: 376px) {
    .title {
        font-size: 42px !important;
        letter-spacing: 0.17em;
        margin-bottom: 1em;
    }

    .subTitle {
        font-size: 32px !important;
        margin-bottom: 1em;
        letter-spacing: 0.1em;
    }
}

@media screen and (min-width: 400px) {
    .title {
        font-size: 44px !important;
        letter-spacing: 0.17em;
        margin-bottom: 1em;
    }

    .subTitle {
        font-size: 34px !important;
        margin-bottom: 1em;
        letter-spacing: 0.1em;
    }
}

@media screen and (min-width: 640px) {
    .title {
        font-size: 45px !important;
        letter-spacing: 0.17em;
        margin-bottom: 1em;
    }

    .subTitle {
        font-size: 35px !important;
        margin-bottom: 1em;
        letter-spacing: 0.1em;
    }
}


html {
    color: #353535;
    scroll-behavior: smooth;
    /* font-family: "source_han_serif_cnbold"; */
    font: 16px/1.5 'Microsoft Yahei',
        'PingFang SC',
        'Hiragino Sans GB',
        sans-serif;
    /* y'source_han_serif_cnbold', */
}

html.font-s {
    font-size: 14px
}

html.font-m {
    font-size: 16px
}

html.font-l {
    font-size: 18px
}

li {
    letter-spacing: 0.13em;
}

.title {
    font-size: 46px;
    letter-spacing: 0.17em;
    margin-bottom: 1em;
}

.subTitle {
    font-size: 36px;
    margin-bottom: 1em;
    letter-spacing: 0.1em;
}

.pTitle {
    font-size: 1.5em;
}

.nowrap {
    flex-wrap: nowrap;
}

.fs-18 {
    font-size: 18px;
}

.fw-thin {
    font-weight: 200;
}

.mb-2em {
    margin-bottom: 2em;
}

.row.left {
    justify-content: flex-start;
}

/*ul li*/
.wide-list li {
    margin-bottom: 0.8em
}

/* Helpers */
.text-blue {
    color: var(--blue);
}

/* Button */
.btn {
    border-radius: 2em;
    margin-top: 1em;
}

.btn.white {
    color: var(--blue);
}

.btn.spacing {
    letter-spacing: .15em;
}

.btn.block {
    display: block;
    text-align: center;
}


/* Arrow Button */
.arrow-btn {
    color: var(--blue);
    font-size: 1.25em;
    display: inline-block;
    letter-spacing: .15em;
}

.arrow-btn:after {
    content: "";
    width: 3em;
    height: 2em;
    display: block;
    background: url(images/arrow.svg) left no-repeat;
}

.arrow-btn.center:after {
    margin: auto;
    background-position-x: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.spacing-title {
    letter-spacing: 0.2em;
}

.spacing-p {
    letter-spacing: 0.13em;
}

p {
    letter-spacing: 0.13em;
}

.row .spacing-article {
    letter-spacing: 0.13em;
}

.ftsz-20 {
    font-size: 20px;
    line-height: 3em;
}

body {
    color: #fff;
    padding-top: 4em;
    background: #101010;
}

header.q-header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    position: fixed;
    line-height: 4em;
    background: var(--darker-background);
}

header.q-header-change {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    position: fixed;
    line-height: 4em;
    background: var(--darker-background);
    opacity: 0.9;
}

header.q-header .wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

header.q-header .head-logo {
    z-index: 1;
    display: inline-block;
}

header.q-header .head-logo img {
    height: 3em;
}

header.q-header .head-menu {
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    user-select: none;
    position: absolute;
}

header.q-header .head-menu a {
    color: #ccc;
    opacity: .6;
    padding: 0 1em;
    min-width: 6em;
    position: relative;
    display: inline-block;
    letter-spacing: .05em;
    transition: opacity .3s;
}

header.q-header .head-menu a:hover,
header.q-header .head-menu .active {
    opacity: 1;
}

header.q-header .head-menu .active:after {
    left: 0;
    right: 0;
    bottom: .7em;
    width: 6em;
    height: .5em;
    margin: auto;
    content: "";
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOAAAAAcCAMAAABPo0OxAAAAk1BMVEUAAAAKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfwKXfxSINiSAAAAMHRSTlMA/Pj17Ojl8tLM7uLA2Nvw38bPP8nWDrORGQc2uqB5YkYvroIpIadpW3JQEwOYVYoO8l1dAAAF7UlEQVRYw9VY6ZqiMBCEXCRAQrgUBxA88db3f7rthJFB/fbbe3e2foTQRqVS1d1R5xVvs7bbr87TMI5jrhSLXIwizyeEUqYVF+G0XjXpzPkPMTnM65jebjQJp8V83+0O6WIzMZTLdjc/VxzfBrgey3lc79v1xPlfsA/P8126np2aYsoDppMktJiGYRXGYQ5qIuRaemOihMp4We/Wb87nxSydPCh5HG5PE4uT9e5xs0itkpRE6OaOySLP84NsCd49Ov8ak3mlCKWU7/r746XbPWXUsbysimK1mMzrUChqnBkxJaptXcybtpwdd/xODAMCsTzXCQI5kUdVXM8Pi3/m22OFP/bdX4Msm83LovLQrc71chn2WC632+1yWlUhF1nCwao8rjIuGRpb1VfMfSeNEOPhdLu6/G2as6V3sxg4FuOX17tVYaTcnK/zrjm0ablYrxeLNIVJmV6a/dWw8uFtRCUii2OR5FJp+sATua5rJ5Hvwp2uiuYvmXad4dsrhlxLC83C8+4N8rFZ1dAjsnBaxSzKY81FPAUR6+tqvm8uzXxLbirhSSIE51yIRCSKEX9M05LsgUFRIsPz5eT8UbT0ofzB5toxGeinm7dTuS+WsXlwBQ8WkTg0CKz/mNaakfsWvZPxZZIoJQWAC57LgAz+d6F92hIbKKUCsx6x8Lp2/hAa3x04meF+QaPkbKYZiLYt9rt2PYOSP9lswJiAsm2hHS6gExZLQbCWkvFEU20SMmemtGAv8kmQZHEeYc8HMe8CEkYwxh5GNKc2gPRyNU9/c0N526I7vXEGwkPgy33N5by9NuVkYLtudwcLm4mb9WIDnCezdXrpimmc5cZ7KolFQAKTjJzB5xMlONW51FTmPFGUEmwbCaIBzDwwQXS7eSaEYTfq3W+i2THX4IObOzDUp4HQ7HVbYhJFuupm+ynH0Obcjw3i0oNxuit3Z+5imQntAguuNMM3oUXGCRyGAuphjzJCfEvTiyBCIsJMxAQMT1k3s188mwRoYPdYPiG6fF2/advhG2cLONP0cqZNM7+et9sqFiLLhOAIBYFWTMKBbr6qDR+ecRYQdEM+kzDPJfhXBtpYNAItfQ8hFEGKwk3kU8awKbhgXuxrHhZd+RMlKK2oCxiTeihznfOC07dds0kvcBBfhkJS89GBzGIhyXv7U0JIzTzjwQjZ0hRENxUwAvQMTRJh8CoxqmIMNAE+iI9dF+h7NEiK9vt8W25lhPo68szOfbcoWvxiYm/a/bWexpIyCdXFQEiZBNT1QUAVRPBFGANLSL7Av3mBF3nYRT7QpH3hAQHBXoYvxf3+2NoEARVeu/klfT0NTdprlVOgNlQRS+iJnoX8XV3pWDarYhnmPo+jJJHQKnzwJEGBELlhCfqAfCCX8S/QAWLQFxmFjIw861Pk9qNVxLUYa2PE7UMDD7PUBmAYLx2x3ju/GbO0K0KegEPzTKiAYhcz7RMOfcSzLC2xiBAvMlfQzmQrA5dCxDQTdHec5fOKgSMC2JX3/OvjDwKKP/XDZlKuQgXqUF8Jbk43VHLtSR5EyFD0PONZDxLQ7R/QcMGEAWiEAUNajdFL9SzSSOZxhzADK50/i1O6mnLOJSM8E+BUsKPONfC1hcUWVOz21nV7D1oPA8zeEFhg9EQPuo1uRrFR4RzKKWmdv4PT5lBUWa4oS7JEU4RIEJh62ssEF1DTlM97isHUwuoMeCQ2IjiaPehrQ+Tg/F28LZptJXJNCNWagTl7ATEQsjV0EGCYPlB4Um9sTTuM2QFU6fwbHNM5NJSAaImozUMANjpZf8Lkid3tCa/Eh94wolsdnX+LzeEaGrOah7FVFfdEjXhDN4DpVwrNo3q9mh9B1jmfA2+L/VKYZk+iDw+CZ713Hd0R0IAhNNB96JV+/dn+8JqUXZ1JbarOyJ6u967jKNmehByJfL8Eq5PzSbHpashMOAi8lpRh/gA0uLOHy7Zr5/MjbYppbg/kozx8xeMriIX7z+bLb2LWdvb8rhn1fYwf0++erVRVxY/8W/cFGegIz4Fkc4AAAAAASUVORK5CYII=) 40%/contain no-repeat;
    position: absolute;
}

.head-toggle {
    cursor: pointer;
}

.head-toggle span {
    width: 1.5em;
    height: 2px;
    display: block;
    position: relative;
    background: var(--blue);
    box-shadow: 0 -.5em 0 var(--blue), 0 .5em 0 var(--blue);
}

main.q-main .section-item {
    padding: 5em 0;
}

main.q-main .section-item.section-dark {
    background: #292f3a;
}

div.section-dark {
    background: #292f3a;
}


main.q-main .section-item.section-blue {
    color: #fff;
    padding: 2em 0;
    font-weight: 300;
    background: var(--blue);
}

.section-blue h2 {
    letter-spacing: .3em;
    font-weight: inherit;
}

#changeLangBox {
    position: absolute;
    top: 80%;
    right: 0px;
    width: 7em;
    min-width: 42px;
    /*  left: 827px;
        top: 53px; */
}

#changeLangBox ul {
    position: relative;
    margin: 0;
    padding: 4px 0;
    text-align: left;
    list-style-type: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 2px;
    outline: none;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
}

#changeLangBox ul li {
    clear: both;
    margin: 0;
    padding: 5px 12px;
    color: rgba(0, 0, 0, .85);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

#changeLangBox ul li span {
    color: rgba(0, 0, 0, .85);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
}



/* Skills */
.section-home-skills img {
    max-height: 20em;
}

.section-home-skills .skills-item-bottom {
    padding: 1em 0;
    text-align: center;
}

/* Feat */
.section-home-feat .feat-logo {
    max-width: 10em;
    margin-bottom: 1em;
}

.section-home-feat .feat-box {
    padding: 1em 2em;
    background: #292f3a;
}

.section-home-feat .feat-box.has-margin {
    margin-bottom: 6em;
}

.section-home-feat .feat-image {
    overflow: hidden;
    border-radius: .5em;
    margin-bottom: -5em;
    position: relative;
    user-select: none;
}

.section-home-feat .feat-image:before {
    content: "";
    background: #ddd;
    height: 2em;
    display: block;
}

.section-home-feat .feat-image:after {
    content: "";
    top: .5em;
    left: .5em;
    width: .75em;
    height: .75em;
    display: block;
    background: #fc625b;
    border-radius: 1em;
    position: absolute;
    box-shadow: 1.25em 0px 0 #fcbd3f, 2.5em 0px 0 #3dc94a;
}

/* 方案 */
.slide {
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    font-family: Arial;
    color: #FFF;
    overflow: hidden;
}

/* 轮播文字 */
#allText {
    width: 330px;
    position: relative;
    overflow: hidden;
}

#showText {
    position: absolute;
    margin: 10px 0px;
    padding: 0;
    width: 9999px;
    list-style: none;
}

#showText li div {
    width: 350px;
    height: 445px;
    cursor: pointer;
}

#showText li {
    float: left;
}

/* 轮播图 */
.ourService .slick-dots {
    position: absolute;
    bottom: -65px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.cover {
    width: 100%;
}

.cover img {
    width: 94%;
}

.content {
    width: 43%
}

.server-item {
    display: flex;
    gap: 40px;
    align-items: center;
}

.ourService .slick-dots li {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 7.8px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background-color: #202020;
    border-radius: 4px;
    overflow: hidden;
}

.ourService .slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    width: 40px;
    height: 7.8px;
    content: '';
    text-align: center;
    opacity: .25;
    color: rgb(155, 49, 49);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ourService .slick-dots li.slick-active button:before {
    background-color: #1140e3;
}

#all {
    width: 850px;
    position: relative;
    overflow: hidden;
}

#show {
    position: absolute;
    margin: 10px 0;
    padding: 0;
    width: 9999px;
    list-style: none;
}

#show li img {
    width: 850px;
    height: 545px;
    cursor: pointer;
}

#show li {
    float: left;
}

#pot li {
    list-style-type: none;
}

#pot li span {
    width: 40px;
    height: 7.8px;
    display: block;
    margin: 10px;
    float: left;
    background-color: #202020;
    border-radius: 4px;
}

#pot {
    width: 850px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    margin-top: 70%;
}

.lisp {
    margin: 10px;
}

.cenports {
    background: url(/images/home/cenports.png);
    background-size: 69%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Partners */
.section-home-partners img {
    width: 15em;
}

/* Team */
.section-home-team .team-text {
    max-width: 34em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.section-home-team .team-image {
    margin-top: -10em;
    pointer-events: none;
}

.flex {
    display: flex;
}

.flexWrap {
    flex-wrap: wrap;
}

.teamBoss {
    overflow: hidden;
    padding-right: 1px;
    padding-bottom: 0px;
}

.teamBoss img {
    position: relative;
    top: -1px;
}

.teammate {
    display: flex;
    width: 100%;
    gap: 1px;
}

.mb-1px {
    margin: 0 0 1px 0
}

/* Card */
.section-card .card-block {
    padding: 2em;
    background: #292f3a;
}

.section-card .card-image {
    margin: -2em 0;
}

footer.q-footer .sub-footer {
    color: #fff;
    padding: 2em 0;
    background: #292f3a;
}

footer .sub-footer li {
    color: #aaa;
    padding: .5em 0;
}

footer .bottom-footer {
    color: #aaa;
    padding: 1em 0;
    background: #1f232c;
    text-align: center;
}

.lineHeight-init {
    line-height: initial;
}