.component-contact {
    padding:100px 200px;
}
.component-contact .content-title{
    font-size:22px;
    font-weight: bold;
    line-height: 30px;
    color:#1d1d1d;
    margin-bottom:24px;
}
.component-contact .content-con{
    font-size:18px;
    color:#3c4d9f;
    line-height: 30px;
    margin:0;
}