.component-contact {
    padding:7% 15%;
}
.component-contact .content-icon{
    padding:0 5%;
}
.component-contact .content-icon img{
    width: 100%;
    max-width: 60px;
}
.component-contact .content-title{
    font-size:22px;
    font-weight: bold;
    line-height: 30px;
    color:#1d1d1d;
    margin-bottom:24px;
}
.component-contact .content-con{
    font-size:18px;
    color:#3c4d9f;
    line-height: 30px;
    margin:0;
}

/* xs sm  */
@media only screen and (max-width: 768px) {
    .component-contact{
        display: none;
    }
}