---
title: 服务
description: 服务
layout: page
---
<section class="section-item section-home-banner">
  <div class="wrap">
    <div class="row">
      <div class="col-m-8">
        <h1 class="title">提供一流的服务 帮助客户成功</h1>
        <p>无论是个性化的网店页面定制，还是个性化的电商系统定制，我们总能提供出色的服务，帮助您高效地达成目标。</p>
      </div>
    </div>
  </div>
</section>
<section class="section-item">
  <div class="wrap">
    <div class="row between">
      <div class="col-m-6">
        <div class="pt-3">
          <h2 class="subTitle">在线网店定制及流量获取</h2>
          <p>帮助您定制包括Shopify、WooCommerce在内的独立网店系统，获得一个专业在线网店；帮助您整合Tiktok、Google、Facebook在内的广告系统，能最快进行流量导入。</p>
          <p>我们有一流的设计能力，掌握SEO技能和原理，熟悉国内外用户使用习惯，能帮您定制出高质量的网店。</p>
        </div>
      </div>
      <div class="col-m-4 mt-3">
        <div class="pt-4">
          <img src="/static/images/service@3-1.png" />
        </div>

      </div>
    </div>
  </div>
</section>
<section class="section-item section-dark">
  <div class="wrap">
    <div class="row between">
      <div class="col-m-4 mt-4">
        <img src="/static/images/service@3-2.png" />
      </div>
      <div class="col-m-6">
        <h2 class="subTitle mt-4">出海渠道拓展</h2>
        <p>通过和我们的电商运营、物流、仓储等合作伙伴紧密合作，为您的产品提供独特的跨境销售渠道、海外买家本地的仓储和配送服务，让您从繁琐的事务中释放，专注于提供一流的产品。</p>
        <p>到目前为止，我们已经能为您提供到美国、马来西亚、新西兰、香港等地的销售渠道及线下仓库服务。</p>
      </div>
    </div>
  </div>
</section>
<section class="section-item">
  <div class="wrap">
    <div class="row between">
      <div class="col-m-6">
        <h2 class="subTitle mt-4">电商平台定制</h2>
        <p>可以根据您的业务特点，为您量身打造贯穿仓库物流、供应链在内的电子商务系统平台。将所有的业务都用一种姿势进行管理，更有效率地经营。</p>
        <p>我们拥有深厚的行业经验经验和技术积累，熟练掌握电商行业各个环节的要求和流程，能为您定制出最可靠和高效的系统。</p>
      </div>
      <div class="col-m-4">
        <img src="/static/images/service@3-4.png" />
      </div>
    </div>
  </div>
</section>
<section class="section-item ">
  <h2 class="text-center subTitle">合作流程</h2>
  <div class="wrap py-5  section-dark ">
    <div class="col-m-10">
      <div class="row between ">
        <div class="center">
          <img width="21%" src="/static/images/矢量智能对象-01.svg">
          <div class="skills-item-bottom">
            <p class="fs-18 spacing-p py-3 fw-thin">您发起咨询</p>
          </div>
        </div>
        <img width="3%" src="/static/images/1-2-01.svg" />
        <div class="center">
          <img width="21%" src="/static/images/1-3-01.svg">
          <div class="skills-item-bottom">
            <p class="fs-18 spacing-p fw-thin py-3">我们提供方案</p>
          </div>
        </div>
        <img width="3%" src="/static/images/1-2-01.svg" />
        <div class="center">
          <img width="21%" src="/static/images/1-4-01.svg">
          <div class="skills-item-bottom">
            <p class="fs-18 spacing-p fw-thin py-3">共同开启非凡的合作</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>