---
title: 实例方案
description: 实例方案
layout: page
---
<section class="section-item section-home-banner">
  <div class="wrap">
    <div class="row">
      <div class="col-m-8">
        <h1 class="title">优趣经验 助您直达成功</h1>
        <p>在长期服务于电商客户的过程中，我们完全掌握了一些核心系统的构建能力，并将它们抽象为了通用的方案，这样能更好滴服务于每一位客户，在以下方案中，我们可以对方案进行进一步的定制和扩展。</p>
      </div>
    </div>
  </div>
</section>
<section class="section-item  section-dark">
  <div class="wrap">
    <div class="row  between">
      <div class="col-m-5 mt-2">
        <img width="84%" src="/static/images/solution@3-1.png" />
      </div>
      <div class="col-m-7">
        <h2 class="subTitle">优趣云商电子商务系统</h2>
        <p>优趣云商电子商务系统方案能为企业提供一个独立的SAAS平台的建站方案，借助它，企业可以轻松拥有属于自己的在线SAAS在线网店建站平台。</p>
        <div class="row between">
          <div class="mx-3 pb-2">
            <p>它默认包含有以下基础特性：</p>
            <ul>
              <li>供应商管理系统</li>
              <li>零售商自助网店系统</li>
              <li>网店OEM定制系统</li>
              <li>网店Coupon / 限购插件</li>
              <li>网店Facebook直播下单助手</li>
            </ul>
          </div>
          <div class="m-5 center">
            <a class="arrow-btn" href="">了解相关案例</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-item">
  <div class="wrap">
    <div class="row  between">
      <div class="col-m-5 mt-2">
        <img width="84%" src="/static/images/solution@3-2.png" />
      </div>
      <div class="col-m-7">
        <h2 class="subTitle">优趣云达物流系统</h2>
        <p>优趣云达物流系统能为电商企业提供一个一站式的物流业务业务系统，对接多家物流商，再以统一的接口输出，可以为电商企业提供最便捷的物流接入方案。</p>
        <div class="row between">
          <div class="mx-3 b-2">
            <p>它目前包含有以下基础特性：</p>
            <ul>
              <li>一站式物流统一下单系统</li>
              <li>国外配送集成</li>
              <li>国内配送集成</li>
              <li>本地即时配送集成</li>
              <li>电商平台集成扩展</li>
            </ul>
          </div>
          <div class="m-5 center">
            <a class="arrow-btn" href="">了解相关案例</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-item  section-dark">
  <div class="wrap">
    <div class="row between">
      <div class="col-m-5 mt-2">
        <img width="84%" src="/static/images/solution@3-3.png" />
      </div>
      <div class="col-m-7">
        <h2 class="subTitle">优趣云货Dropshipping系统</h2>
        <p>优趣云货Dropshipping系统能为电商企业提供一个统一的供应商货源管理和发布系统，能对多销售渠道的价格做统一管理以及将订单同步，来进行统一的管理：</p>
        <div class="row between">
          <div class="mx-3">
            <p>它目前包含有以下基础特性：</p>
            <ul>
              <li>供应链管理</li>
              <li>支持Shopify/WooCoomerce销售渠道</li>
              <li>支持自建货源/Shopify货源/速卖通货源</li>
              <li>SAAS服务</li>
            </ul>
          </div>
          <div class="m-5 center">
            <a class="arrow-btn" href="">了解相关案例</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-item">
  <div class="wrap">
    <div class="row  between">
      <div class="col-m-5 mt-2">
        <img width="84%" src="/static/images/solution@3-4.png" />
      </div>
      <div class="col-m-7">
        <h2 class="subTitle">优趣云客服务管理系统</h2>
        <p>优趣云客服务管理系统能为企业提供一个售后服务工单流，借助我们的云客服务管理系统，客人能够通过App发起工单，企业可以在管理后台去将上门服务工单指派给服务师傅，师傅通过商端App接领任务，最终实现高效的服务流程。</p>
        <div class="row between">
          <div class="mx-3">
            <p>它目前包含有以下基础特性：</p>
            <ul>
              <li>用户售后支持App</li>
              <li>服务师傅接单App</li>
              <li>即时聊天</li>
              <li>在线支付服务费</li>
              <li>客户支持管理后台</li>
            </ul>
          </div>
          <div class="m-5 center">
            <a class="arrow-btn" href="">了解相关案例</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="section-item"></section> -->