.app-head{
    background: white;
    padding:0 10%;
    height: 100px;
    position: fixed;
    z-index: 999;
    width: 100%;
}
.app-head .nav{
    line-height: 32px;
    margin-top:30px;
    border:none;
}
.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
    border-bottom: 2px solid #3c4d9f;
}
.app-head .nav .nav-item{
    padding:0;
    margin:0 2%;
}
.app-head .nav .nav-item a{
    color:#3c4d9f;
    font-size:18px;
    font-weight: bold;
}
.head-btn{
    margin-top: 30px;
    margin-left:10px;
}
.app-logo{
    line-height: 100px;
}
.app-logo img{
    width: 100%;
    max-width: 237px;
}

.app-head ul{
    list-style: none;
    text-align: right;
}
.app-head ul li{
    margin:0 5px;
}


@media only screen and (max-width:768px){
    .app-head{
        height: 80px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
    }
    .app-logo{
        line-height:80px;
    }
    /* 移动端导航栏按钮 */
    .moblie-dropdown{
        height: 80px;
        line-height: 80px;
    }
    .nav-btn{
        background:url('../../assets/mobile/icon.png') no-repeat center;
        background-size: 80%;
        border:none;
    }
    .nav-btn:hover,
    .nav-btn:focus,
    .nav-btn:active{
        background:url('../../assets/mobile/icon.png') no-repeat center;
        background-size: 80%;
    }

    /* 移动端导航栏菜单 */
    .ant-btn:empty {
        vertical-align: middle;
    }
    .dropdown-menu li{
        padding:0 40px 0 20px;
    }
}